#index-background{
    background-color:rgba(175,50,230,0.31);
}
#registration-background{
    background-color:rgba(175,50,230,0.31);
}
.button {
    background-color:#701499;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: relative;
    border-radius: 25px;
}
.button:hover{
    background-color: white;
    color: black;
    content: '\00bb';
}
#index-button{
    position: relative;
    justify-content: center;
    margin-bottom: auto;
}
#title{
    text-align: center;
    position: relative;
    justify-content: center;
    margin-top: 15%;
    font-size: 90px;
    font-weight:bold;

}
#slogan{
    text-align: center;
    position: relative;
    justify-content: center;
}
#LoginColor{
    background-color: rgb(230,223,232)
}
#Search{
    width: 10%;
}
#headers{
    background-color:rgb(157,0,223);    
}
#avatar{
    width: 128px;
    height: 128px;
}